<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Johan Dierinck's personal website">
		<meta name="keywords" content="web development, web developer, freelance, Symfony Certified Developer, Symfony, PHP, Drupal, MySQL">
		<meta name="author" content="Johan Dierinck">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Johan Dierinck{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link href="http://jdierinck.be/" rel="canonical">
		<link rel="alternate" hreflang="x-default" href="http://jdierinck.be/">
		<link rel="alternate" hreflang="en" href="http://jdierinck.be/en/">
		<link rel="alternate" hreflang="fr" href="http://jdierinck.be/fr/">		
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>

    {% block body %}{% endblock %}

</html>
